<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <title>Feed Page</title>
    <style>
        body {
            font-family: 'Itim', cursive;
        }
        h1{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Feed Page</h1>

</body>
</html>